<!-- @TODO: Add filter field, so user can more easily find their org -->
<ol class="orgs" data-simply-list="orgs">
    <template>
        <li>
            <a class="org"
                href="#"
                data-simply-field="login"
                data-simply-transformer="orgLink"
                data-simply-content="fixed"
            >
                <img class="avatar" src="" data-simply-field="avatar_url">
                <span class="name" data-simply-field="login"></span>
            </a>
        </li>
    </template>
</ol>
